  <tr>
    <td><img src=<%= movie.poster %>, class="img-responsive", width="100px"></td>
    <td><%= movie.title %></td>
    <td><%= movie.plot %></td>
    <td><%= movie.genre %></td>
    <td><%= movie.year %></td>
    <td><%= movie.runtime %></td>
  </tr>
